/* Sass
-------------------------------------------------------------------------------------------*/
@import '../style';

/* Theme
-------------------------------------------------------------------------------------------*/
* {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
    none;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-stack-sans;
	font-size: 14px;
}

.wrapper {
  position: relative;
  padding: 10px;
  background-color: $black;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#image-loader {
	position: relative;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background: $black;

  #banner {
  	height: 100px;
    padding-bottom: 10px;
  	background-color: $black;
    clear: both;

    div {
      position: relative;
      height: 100px;
      float: left;
      width: 33.2%;
    }

    div > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $font-stack-sans;
      font-size: 60px;
    }
    #time {
      float: right;

      span {
        left: auto;
        right: 0%;
        transform: translate(0%, -50%);
      }
    }
    img.logo {
      height: 100px;
      //margin: -10px 0 0 -10px;
    }
  }

  #splash {
    margin-bottom: 10px;
    background: url("../images/clab-calendar/splash.jpg") no-repeat center top border-box;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

#calendar {
  background-color: $offwhite;
  font-family: $font-stack-sans;

  /* FullCalendar Themeing */
  .fc-center h2 {
    font-family: $font-stack-title;
    text-transform: uppercase;
    color: $black !important;
    display: block !important;
    font-size: 1.5em !important;
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    font-weight: bold !important;
  }

  .fc-view-container {
    background-color: $white;
  }

  thead, .fc-time, .fc-axis.fc-widget-content {
    color: $black !important;
  }
}

.fc-right {
  display: none;
}
