/* Sass
-------------------------------------------------------------------------------------------*/
@import '../style';

/* Theme
-------------------------------------------------------------------------------------------*/
* {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
    none;
}

body {
	margin: 0;
	padding: 0;
  background-color: $black;
	font-family: $font-stack-sans;
	font-size: 14px;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

.calendar {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	clear: both;
}

#image-loader {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 8px;
	box-sizing: border-box;
	background: $black;

  #banner {
  	height: 100px;
  	padding: 10px;
  	background-color: $black;
    clear: both;

    div {
      position: relative;
      height: 100px;
      float: left;
      width: 33%;
    }

    div > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $font-stack-title;
      font-weight: bold;
      font-size: 40px;
    }

    img.logo {
      height: 100px;
    }
  }

  #splash {
    background: url("../images/clab-calendar/splash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

#calendar {
	position: absolute;
	margin: 0 8px 8px 8px;
  background-color: $offwhite;
  font-family: $font-stack-sans;

  /* FullCalendar Themeing */
  .fc-center h2 {
    font-family: $font-stack-title;
    text-transform: uppercase;
    color: $black !important;
    display: block !important;
    font-size: 1.5em !important;
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    font-weight: bold !important;
  }

  .fc-view-container {
    background-color: $white;
  }

  thead, .fc-time, .fc-axis.fc-widget-content {
    color: $black !important;
  }
}

.fc-right {
  display: none;
}
