#store-splash {
  position: relative;
  height: 420px;
  background: url($store-splash-img) no-repeat center top local;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;


  span#credit {
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 2px;
    background-color: rgba(0,0,0,0.4);
    color: #FFF;
    font-family: $font-stack-sans;
    font-size: 12px;
    font-weight: 200;
    line-height: 12px;
    border-radius: 1px;
  }
}

#store {
  font-family: $font-stack-sans;

  #lux { display: none; }

  .header { text-align: center; }

  a { font-weight: bold; }

  #inventory {
    li {
      list-style-type: disc;
    }
  }
}

@media (max-width: $screen-sm-min) {
  #store-splash { display: none; }
  #lux {
    display: block !important;
    font-family: $font-stack-title;
    font-weight: bold;
    padding-top: 2px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .open   { background-color: #00E676; }
  .closed { background-color: #E53935; }
}
