// ---- Breakpoints --------------------------------------------------------------------------------
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// ---- Colors -------------------------------------------------------------------------------------
$white:      #FFFFFF;
$offwhite:   #EEEEEE;
$gray:       #7F7F7F;
$black:      #000000;
$orange:     #FF6600;
$darkorange: #E65100;

// ---- Font Stack  --------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:100italic,200,400italic,300,400,500,700,900');
@font-face {
  font-family: 'Roboto Black';
  src: url('fonts/Roboto-Black.ttf');
  src: url('fonts/Roboto-Black.ttf') format('truetype');
}

$font-stack-title: 'Roboto Black', Helvetica, Arial, Verdana, sans-serif;
$font-stack-sans: 'Roboto', Helvetica, Arial, Verdana, sans-serif;

// ---- IMAGES -------------------------------------------------------------------------------------
$logo-img-lrg: 'images/logo.png';

$bg-tile-img: 'images/bgtile.png';

$splash-img: 'images/splash.jpg';
$banner-img: 'images/banner.png';

$projects-aerial-img: 'images/aerial.png';
$projects-rover-img:  'images/mars.png';
$projects-water-img:  'images/water.png';
