/* ---- COLORS -----------------------------------------------------------------------------------*/
$white:      #FFFFFF;
$offwhite:   #E1E1DC;
$black:      #000000;
$orange:     #FF6600;
$darkorange: #D85A1A;

/* ---- FONT STACK -------------------------------------------------------------------------------*/
$font-stack: "Soho", Chunkfive, Rockwell, Egyptienne, Egyptian, Georgia, Times, serif;
